In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import calendar

In [74]:
url = 'https://www.theguardian.com/uk-news/2018/oct/18/all'
reqs = requests.get(url)
soup = BeautifulSoup(reqs.text, 'html.parser')

urls = pd.DataFrame(columns = ['urls'])
for link in soup.find_all('a'):
    print(link.get('href'))
    urls.loc[len(urls)] = [link.get('href')]

#maincontent
https://www.theguardian.com/uk
https://support.theguardian.com/subscribe?INTCMP=header_supporter_cta&acquisitionData=%7B%22source%22:%22GUARDIAN_WEB%22,%22componentType%22:%22ACQUISITIONS_HEADER%22,%22componentId%22:%22header_supporter_cta%22%7D
https://jobs.theguardian.com/?INTCMP=jobs_uk_web_newheader
https://profile.theguardian.com/signin?INTCMP=DOTCOM_NEWHEADER_SIGNIN&componentEventParams=componentType%3Didentityauthentication%26componentId%3Dguardian_signin_header
https://manage.theguardian.com
https://manage.theguardian.com/billing
https://manage.theguardian.com/public-settings
https://manage.theguardian.com/email-prefs
https://manage.theguardian.com/account-settings
https://manage.theguardian.com/help
None
https://profile.theguardian.com/signout
https://www.google.co.uk/advanced_search?q=site:www.theguardian.com
https://www.theguardian.com/preference/edition/uk
https://www.theguardian.com/preference/edition/us
https://www.theguardian.com/preference/edition/au
https://www.theguardian.com/preference/edition/int
https://www.theguardian.com/uk
https://www.theguardian.com/uk/commentisfree
https://www.theguardian.com/uk/sport
https://www.theguardian.com/uk/culture
https://www.theguardian.com/uk/lifeandstyle
https://www.theguardian.com/uk-news
https://www.theguardian.com/world
https://www.theguardian.com/environment/climate-crisis
https://www.theguardian.com/email-newsletters
https://www.theguardian.com/football
https://www.theguardian.com/world/coronavirus-outbreak
https://www.theguardian.com/uk/business
https://www.theguardian.com/uk/environment
https://www.theguardian.com/politics
https://www.theguardian.com/education
https://www.theguardian.com/society
https://www.theguardian.com/science
https://www.theguardian.com/uk/technology
https://www.theguardian.com/global-development
https://www.theguardian.com/tone/obituaries
https://www.theguardian.com/profile/editorial
https://www.theguardian.com/index/contributors
https://www.theguardian.com/cartoons/archive
https://www.theguardian.com/type/video+tone/comment
https://www.theguardian.com/tone/letters
https://www.theguardian.com/football
https://www.theguardian.com/sport/cricket
https://www.theguardian.com/sport/rugby-union
https://www.theguardian.com/sport/tennis
https://www.theguardian.com/sport/cycling
https://www.theguardian.com/sport/formulaone
https://www.theguardian.com/sport/golf
https://www.theguardian.com/sport/boxing
https://www.theguardian.com/sport/rugbyleague
https://www.theguardian.com/sport/horse-racing
https://www.theguardian.com/sport/us-sport
https://www.theguardian.com/uk/film
https://www.theguardian.com/music
https://www.theguardian.com/uk/tv-and-radio
https://www.theguardian.com/books
https://www.theguardian.com/artanddesign
https://www.theguardian.com/stage
https://www.theguardian.com/games
https://www.theguardian.com/music/classicalmusicandopera
https://www.theguardian.com/fashion
https://www.theguardian.com/food
https://www.theguardian.com/tone/recipes
https://www.theguardian.com/uk/travel
https://www.theguardian.com/lifeandstyle/health-and-wellbeing
https://www.theguardian.com/lifeandstyle/women
https://www.theguardian.com/lifeandstyle/men
https://www.theguardian.com/lifeandstyle/love-and-sex
https://www.theguardian.com/fashion/beauty
https://www.theguardian.com/lifeandstyle/home-and-garden
https://www.theguardian.com/uk/money
https://www.theguardian.com/technology/motoring
https://support.theguardian.com/contribute?INTCMP=side_menu_support_contribute&acquisitionData=%7B%22source%22:%22GUARDIAN_WEB%22,%22componentType%22:%22ACQUISITIONS_HEADER%22,%22componentId%22:%22side_menu_support_contribute%22%7D
https://support.theguardian.com/subscribe?INTCMP=side_menu_support_subscribe&acquisitionData=%7B%22source%22:%22GUARDIAN_WEB%22,%22componentType%22:%22ACQUISITIONS_HEADER%22,%22componentId%22:%22side_menu_support_subscribe%22%7D
https://www.theguardian.com/preference/edition/us
https://www.theguardian.com/preference/edition/au
https://www.theguardian.com/preference/edition/int
https://jobs.theguardian.com?INTCMP=jobs_uk_web_newheader_dropdown
https://recruiters.theguardian.com/?utm_source=gdnwb&amp;utm_medium=navbar&amp;utm_campaign=Guardian_Navbar_Recruiters&amp;CMP_TU=trdmkt&amp;CMP_BUNIT=jobs
https://holidays.theguardian.com?INTCMP=holidays_uk_web_newheader
https://membership.theguardian.com/events?INTCMP=live_uk_header_dropdown
https://www.theguardian.com/guardian-masterclasses
https://theguardian.newspapers.com
https://www.theguardian.com/artanddesign/series/gnm-print-sales
https://patrons.theguardian.com/?INTCMP=header_patrons
https://puzzles.theguardian.com/download
https://licensing.theguardian.com/
https://www.theguardian.com/mobile/2014/may/29/the-guardian-for-mobile-and-tablet
https://www.theguardian.com/video
https://www.theguardian.com/podcasts
https://www.theguardian.com/inpictures
https://www.theguardian.com/email-newsletters
https://www.theguardian.com/theguardian
https://www.theguardian.com/membership
https://www.theguardian.com/observer
https://www.theguardian.com/weekly?INTCMP=gdnwb_mawns_editorial_gweekly_GW_TopNav_UK
https://www.theguardian.com/crosswords
https://www.facebook.com/theguardian
https://twitter.com/guardian
https://jobs.theguardian.com?INTCMP=jobs_uk_web_newheader_dropdown
https://recruiters.theguardian.com/?utm_source=gdnwb&amp;utm_medium=navbar&amp;utm_campaign=Guardian_Navbar_Recruiters&amp;CMP_TU=trdmkt&amp;CMP_BUNIT=jobs
https://holidays.theguardian.com?INTCMP=holidays_uk_web_newheader
https://membership.theguardian.com/events?INTCMP=live_uk_header_dropdown
https://www.theguardian.com/guardian-masterclasses
https://theguardian.newspapers.com
https://www.theguardian.com/artanddesign/series/gnm-print-sales
https://patrons.theguardian.com/?INTCMP=header_patrons
https://puzzles.theguardian.com/download
https://licensing.theguardian.com/
https://www.theguardian.com/uk-news
https://www.theguardian.com/politics
https://www.theguardian.com/education
https://www.theguardian.com/uk/media
https://www.theguardian.com/society
https://www.theguardian.com/law
https://www.theguardian.com/uk/scotland
https://www.theguardian.com/uk/wales
https://www.theguardian.com/uk/northernireland
https://www.theguardian.com/uk-news/2018/oct/18/father-of-m40-crash-victim-angry-to-learn-of-drivers-earlier-collision
https://www.theguardian.com/uk-news/2018/oct/18/father-of-m40-crash-victim-angry-to-learn-of-drivers-earlier-collision
https://www.theguardian.com/uk-news/2018/oct/18/dalian-atkinson-death-police-officers-could-be-charged
https://www.theguardian.com/uk-news/2018/oct/18/dalian-atkinson-death-police-officers-could-be-charged
https://www.theguardian.com/football/2018/oct/18/roma-fan-filippo-lomdardi-cleared-of-inflicting-gbh-on-liverpool-supporter-mark-cox
https://www.theguardian.com/football/2018/oct/18/roma-fan-filippo-lomdardi-cleared-of-inflicting-gbh-on-liverpool-supporter-mark-cox
https://www.theguardian.com/uk-news/2018/oct/18/fire-brigades-false-hope-cost-lives-says-grenfell-survivor
https://www.theguardian.com/uk-news/2018/oct/18/fire-brigades-false-hope-cost-lives-says-grenfell-survivor
https://www.theguardian.com/uk-news/2018/oct/18/bse-case-found-on-aberdeenshire-farm
https://www.theguardian.com/uk-news/2018/oct/18/bse-case-found-on-aberdeenshire-farm
https://www.theguardian.com/uk-news/2018/oct/18/fred-and-rosemary-west-of-barry-sentenced-to-total-of-36-years
https://www.theguardian.com/uk-news/2018/oct/18/fred-and-rosemary-west-of-barry-sentenced-to-total-of-36-years
https://www.theguardian.com/uk-news/2018/oct/18/threats-made-against-manchester-attack-relatives-coroner-told
https://www.theguardian.com/uk-news/2018/oct/18/threats-made-against-manchester-attack-relatives-coroner-told
https://www.theguardian.com/uk-news/2018/oct/18/gatwick-plans-using-emergency-runway-to-increase-flight-capacity
https://www.theguardian.com/uk-news/2018/oct/18/gatwick-plans-using-emergency-runway-to-increase-flight-capacity
https://www.theguardian.com/uk-news/2018/oct/18/st-fagans-welsh-history-museum-revamp-completed
https://www.theguardian.com/uk-news/2018/oct/18/st-fagans-welsh-history-museum-revamp-completed
https://www.theguardian.com/uk-news/2018/oct/18/mps-urged-to-scrap-child-citizenship-good-character-test
https://www.theguardian.com/uk-news/2018/oct/18/mps-urged-to-scrap-child-citizenship-good-character-test
https://www.theguardian.com/uk-news/2018/oct/18/police-officer-injured-hit-van-manchester-blackley
https://www.theguardian.com/uk-news/2018/oct/18/police-officer-injured-hit-van-manchester-blackley
https://www.theguardian.com/uk-news/2018/oct/18/homicide-rate-in-england-and-wales-highest-since-2008
https://www.theguardian.com/uk-news/2018/oct/18/homicide-rate-in-england-and-wales-highest-since-2008
https://www.theguardian.com/uk-news/2018/oct/18/prince-harry-and-meghan-in-melbourne-bush-tucker-the-beach-and-a-bit-of-footy
https://www.theguardian.com/uk-news/2018/oct/18/prince-harry-and-meghan-in-melbourne-bush-tucker-the-beach-and-a-bit-of-footy
https://www.theguardian.com/uk-news/2018/oct/18/london-paddington-stations-train-services-return-to-near-normal
https://www.theguardian.com/uk-news/2018/oct/18/london-paddington-stations-train-services-return-to-near-normal
https://www.theguardian.com/uk-news/2018/oct/17/all
https://www.theguardian.com/uk-news/2018/oct/19/altdate
https://www.theguardian.com/uk/london
https://www.theguardian.com/uk/ukcrime
https://www.theguardian.com/uk/police
https://www.theguardian.com/uk/transport
https://www.theguardian.com/uk/wales
https://www.theguardian.com/uk-news
https://www.theguardian.com/politics
https://www.theguardian.com/education
https://www.theguardian.com/uk/media
https://www.theguardian.com/society
https://www.theguardian.com/law
https://www.theguardian.com/uk/scotland
https://www.theguardian.com/uk/wales
https://www.theguardian.com/uk/northernireland
https://www.theguardian.com/uk
https://www.theguardian.com/uk/commentisfree
https://www.theguardian.com/uk/sport
https://www.theguardian.com/uk/culture
https://www.theguardian.com/uk/lifeandstyle
https://www.theguardian.com/about
https://www.theguardian.com/help/contact-us
https://www.theguardian.com/info/complaints-and-corrections
https://www.theguardian.com/securedrop
https://workforus.theguardian.com
https://www.theguardian.com/info/privacy
https://www.theguardian.com/info/cookies
https://www.theguardian.com/help/terms-of-service
https://www.theguardian.com/help
https://www.theguardian.com/index/subjects/a
https://www.theguardian.com/index/contributors
https://uploads.guim.co.uk/2021/07/27/STL_&_GMG_Modern_Slavery_Act_Statement_2021.pdf
https://theguardian.newspapers.com
https://www.facebook.com/theguardian
https://www.youtube.com/user/TheGuardian
https://www.instagram.com/guardian
https://www.linkedin.com/company/theguardian
https://twitter.com/guardian
https://www.theguardian.com/email-newsletters?INTCMP=DOTCOM_FOOTER_NEWSLETTER_UK
https://advertising.theguardian.com
https://www.theguardian.com/guardian-labs
https://jobs.theguardian.com?INTCMP=NGW_FOOTER_UK_GU_JOBS
https://patrons.theguardian.com?INTCMP=footer_patrons
https://support.theguardian.com/contribute?INTCMP=footer_support_contribute&acquisitionData=%7B%22source%22:%22GUARDIAN_WEB%22,%22componentType%22:%22ACQUISITIONS_FOOTER%22,%22componentId%22:%22footer_support_contribute%22%7D
https://support.theguardian.com/subscribe?INTCMP=footer_support_subscribe&acquisitionData=%7B%22source%22:%22GUARDIAN_WEB%22,%22componentType%22:%22ACQUISITIONS_FOOTER%22,%22componentId%22:%22footer_support_subscribe%22%7D
#top

In [75]:
urls = urls[urls['urls'].str.contains('https://www.theguardian.com/uk-news/2018/oct/18/', na=False)]
urls = urls.drop_duplicates()

In [76]:
urls.values.tolist()

[['https://www.theguardian.com/uk-news/2018/oct/18/father-of-m40-crash-victim-angry-to-learn-of-drivers-earlier-collision'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/dalian-atkinson-death-police-officers-could-be-charged'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/fire-brigades-false-hope-cost-lives-says-grenfell-survivor'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/bse-case-found-on-aberdeenshire-farm'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/fred-and-rosemary-west-of-barry-sentenced-to-total-of-36-years'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/threats-made-against-manchester-attack-relatives-coroner-told'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/gatwick-plans-using-emergency-runway-to-increase-flight-capacity'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/st-fagans-welsh-history-museum-revamp-completed'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/mps-urged-to-scrap-child-citizenship-good-character-test'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/police-officer-injured-hit-van-manchester-blackley'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/homicide-rate-in-england-and-wales-highest-since-2008'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/prince-harry-and-meghan-in-melbourne-bush-tucker-the-beach-and-a-bit-of-footy'],
 ['https://www.theguardian.com/uk-news/2018/oct/18/london-paddington-stations-train-services-return-to-near-normal']]

In [91]:
urls.iloc[2,0]

'https://www.theguardian.com/uk-news/2018/oct/18/fire-brigades-false-hope-cost-lives-says-grenfell-survivor'

In [92]:
get_article_text('https://www.theguardian.com/uk-news/2018/oct/18/fire-brigades-false-hope-cost-lives-says-grenfell-survivor')

'The son of a man who fell to his death from the top floor of Grenfell Tower has accused the fire brigade of giving “false hope” and ultimately costing lives by telling residents that rescuers were on their way. Farhad Neda, 25, who managed to escape with his mother, Flora, from the 23rd floor, told the public inquiry into the disaster that residents were “fatally let down” because the firefighters never came. His mother told the inquiry the firefighters’ advice to residents to stay put destroyed the lives not only of those who died but many more people. “Those people who died on the night of fire, the only cause of their death is the stay put policy,” Flora Neda said. “If they didn’t believe the fire brigade … I am sure they would be alive, including my husband. The fire brigade has to take responsibility for their mistakes.” Flora’s husband, Mohamed Saber Neda, 57, a former Afghan army officer who fled the Taliban in 1998 and who worked as a chauffeur in London, died with four neighbours who had taken refuge in their flat, number 205.  Farhad Neda said his father was a hero because he stayed to help Mariem Elgwahry and her mother, Elsah, and Sakina Afrasahabi and her sister, Fatima , rather than try to escape. They had come up from the floors below to escape the rising flames and smoke. They all died. Farhad, a former British taekwondo international, told Richard Millett QC, the counsel for the inquiry, that he took hold of his disabled mother and started descending the stairs in thick black smoke. They had expected his father and the others to follow. His father’s body was found outside the tower with injuries consistent with falling from height. Flora Neda said he had jumped. “He could have come with us,” Farhad said. “However, he did not leave those women who were distressed and needed help in our flat. He died trying to save their lives.” He said that one of the Afrasahabi sisters had been told a helicopter might rescue them if they went to the top floor, but conditions in the flat were so bad shortly before they fled that Flora was ready to jump rather than go through the pain of being burnt alive. The inquiry saw WhatsApp messages between Farhad and a friend who was not in the building. She sent him a picture of the tower ablaze at about 2am. He told her: “The fire is reaching us. Our noses are full of black smoke. We are getting worried. Is there any hope?” She replied: “Please keep calm. Hopefully everything will be ok.” Farhad described the “nightmare” of his descent with his mother on his back. “We were stepping and tripping over dead bodies as people had already died in the stairwell,” he said. “I can still hear the sounds of people desperately struggling to breathe. It sounded like they were snoring, as they choked for their last remaining gasps of air.” When his mother asked what the obstructions were, he said they were fire hoses because he didn’t want to upset her.  They were met by firefighters part of the way down the tower and were escorted out. Farhad told the inquiry that the firefighters, although brave, “did not really know what to do”. They did not seem to have enough oxygen to work higher up in the tower or to share with residents coming down.” In a separate statement, Ahmed Elgwahry, Mariem’s brother, described how he stayed on the phone to his sister as she and his mother died in flat 205. He said he urged them to escape by the stairs, but his sister said she wasn’t able to because of the smoke. He suspected it was because his mother’s mobility was poor and his sister didn’t want to leave her. Eventually she could no longer speak and made a deep humming noise instead. He asked her to bang the floor if she was still there, and she did. He heard his mother saying in Arabic “I can’t breathe” and then there was silence. He stayed on the line long after they had died. “I could hear the fire entering the flat from the window,” he said. “I will never forget how violent and aggressive it sounded. I could hear it penetrating through the flat and heard bubbling noises. I could hear pots and pans falling and smashing everywhere.” Farhad said he had long been concerned about fire safety, especially since the building’s refurbishment in 2016, which included the installation of combustible cladding. The closing mechanism on their fire door had broken soon after the refurbishment and the landlord had not fixed it. He was also worried that new gas pipes might fuel a fire and that large holes drilled between floors to fit new pipes might cause problems. Flora said that as well as numerous problems with the refurbishment, residents repeatedly complained to the landlord about there being only a single staircase in the event of a fire. “They didn’t listen to us,” she said. Farhad told the inquiry he was struggling to cope with the disaster. “Losing my dad, my home, and losing my friends in the Grenfell Tower fire has left me feeling very lost,” he said.  “I do not think I have had the chance to grieve for him properly … I have not yet dealt with the events that unfolded on 14 June 2017.”'

In [31]:
urls.values.tolist()[0]

['https://www.theguardian.com/uk-news/2020/jun/12/man-arrested-suspicion-stabbing-stoke-newington-london']

In [3]:
def get_urls(url:str, year, month, day) -> list:
    reqs = requests.get(url)
    soup = BeautifulSoup(reqs.text, 'html.parser')

    urls = pd.DataFrame(columns = ['urls'])
    for link in soup.find_all('a'):
        urls.loc[len(urls)] = [link.get('href')]
        
    urls = urls[urls['urls'].str.contains('https://www.theguardian.com/uk-news/{}/{}/{}/'.format(year,month,"%02d" % day), na=False)]
    urls = urls.drop_duplicates()
    return urls

In [4]:
def get_article_text(url:str) -> list:
    """Parse guardian article and return text in list of strings"""
    
    article = requests.get(url)
    soup = BeautifulSoup(article.content, "html.parser")
    body = soup.find(id='maincontent')
    text = [p.text for p in body.find_all("p")] 
    full_text = ' '.join(text)
    return full_text

In [5]:
df = pd.read_csv('../Data/df_scraping.csv')
df = df.drop(columns = ["Unnamed: 0"])

In [6]:
df

                     chunk  standardised_texts  abnormal month  year  day
0      2018-10-25 15:00:00           -1.729113         0   oct  2018   25
1      2018-10-25 16:00:00           -2.035798         0   oct  2018   25
2      2018-10-25 17:00:00           -1.462874         0   oct  2018   25
3      2018-10-25 18:00:00           -1.226790         0   oct  2018   25
4      2018-10-25 19:00:00           -0.821217         0   oct  2018   25
...                    ...                 ...       ...   ...   ...  ...
31682  2022-06-06 17:00:00            0.693141         0   jun  2022    6
31683  2022-06-06 18:00:00            1.855202         0   jun  2022    6
31684  2022-06-06 19:00:00           -0.262572         0   jun  2022    6
31685  2022-06-06 20:00:00           -1.692674         0   jun  2022    6
31686  2022-06-06 21:00:00           -2.448616         0   jun  2022    6

[31687 rows x 6 columns]

In [7]:
days = df.day.unique()
q1_months = ['jan','feb','mar']
q2_months = ['apr','may','jun']
q3_months = ['jul','aug','sep']
q4_months = ['oct','nov','dec']
years = df.year.unique()

In [102]:
#articles = pd.DataFrame(columns = ['article_text','article_date'])
#for year in years:
#    for month in months:
#        for day in days:
#            print("{}/{}/{}".format(day,list(calendar.month_abbr).index(month.capitalize()),year))
#            url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(year,month,"%02d" % day)
#            urls = get_urls(url,year,month,day)
#            if len(urls) > 0:
#                for i in range(len(urls)):
#                    article = urls.iloc[i,0]
#                    text = get_article_text(article)
#                    articles.loc[len(articles)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),year)]

25/10/2018
26/10/2018
27/10/2018
28/10/2018
29/10/2018
30/10/2018
31/10/2018
1/10/2018
2/10/2018
3/10/2018
4/10/2018
5/10/2018
6/10/2018
7/10/2018
8/10/2018
9/10/2018
10/10/2018
11/10/2018
12/10/2018
13/10/2018
14/10/2018
15/10/2018
16/10/2018
17/10/2018
18/10/2018
19/10/2018
20/10/2018
21/10/2018
22/10/2018
23/10/2018
24/10/2018
25/11/2018
26/11/2018
27/11/2018
28/11/2018
29/11/2018
30/11/2018
31/11/2018
1/11/2018
2/11/2018
3/11/2018
4/11/2018
5/11/2018
6/11/2018
7/11/2018
8/11/2018
9/11/2018
10/11/2018
11/11/2018
12/11/2018
13/11/2018
14/11/2018
15/11/2018
16/11/2018
17/11/2018
18/11/2018
19/11/2018
20/11/2018
21/11/2018
22/11/2018
23/11/2018
24/11/2018
25/12/2018
26/12/2018
27/12/2018
28/12/2018
29/12/2018
30/12/2018
31/12/2018
1/12/2018
2/12/2018
3/12/2018
4/12/2018
5/12/2018
6/12/2018
7/12/2018
8/12/2018
9/12/2018
10/12/2018
11/12/2018
12/12/2018
13/12/2018
14/12/2018
15/12/2018
16/12/2018
17/12/2018
18/12/2018
19/12/2018
20/12/2018
21/12/2018
22/12/2018
23/12/2018
24/12/2018
25/1/2018
26/1/2018
27/1/2018
28/1/2018
29/1/2018
30/1/2018
31/1/2018
1/1/2018
2/1/2018
3/1/2018
4/1/2018
5/1/2018
6/1/2018
7/1/2018
8/1/2018
9/1/2018
10/1/2018
11/1/2018
12/1/2018
13/1/2018
14/1/2018
15/1/2018
16/1/2018
17/1/2018
18/1/2018
19/1/2018
20/1/2018
21/1/2018
22/1/2018
23/1/2018

AttributeError: 'NoneType' object has no attribute 'find_all'

In [8]:
articles_q4_18 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q4_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2018))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2018,month,"%02d" % day)
        urls = get_urls(url,2018,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q4_18.loc[len(articles_q4_18)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2018)]

25/10/2018
26/10/2018
27/10/2018
28/10/2018
29/10/2018
30/10/2018
31/10/2018
01/10/2018
02/10/2018
03/10/2018
04/10/2018
05/10/2018
06/10/2018
07/10/2018
08/10/2018
09/10/2018
10/10/2018
11/10/2018
12/10/2018
13/10/2018
14/10/2018
15/10/2018
16/10/2018
17/10/2018
18/10/2018
19/10/2018
20/10/2018
21/10/2018
22/10/2018
23/10/2018
24/10/2018
25/11/2018
26/11/2018
27/11/2018
28/11/2018
29/11/2018
30/11/2018
31/11/2018
01/11/2018
02/11/2018
03/11/2018
04/11/2018
05/11/2018
06/11/2018
07/11/2018
08/11/2018
09/11/2018
10/11/2018
11/11/2018
12/11/2018
13/11/2018
14/11/2018
15/11/2018
16/11/2018
17/11/2018
18/11/2018
19/11/2018
20/11/2018
21/11/2018
22/11/2018
23/11/2018
24/11/2018
25/12/2018
26/12/2018
27/12/2018
28/12/2018
29/12/2018
30/12/2018
31/12/2018
01/12/2018
02/12/2018
03/12/2018
04/12/2018
05/12/2018
06/12/2018
07/12/2018
08/12/2018
09/12/2018
10/12/2018
11/12/2018
12/12/2018
13/12/2018
14/12/2018
15/12/2018
16/12/2018
17/12/2018
18/12/2018
19/12/2018
20/12/2018
21/12/2018
22/12/2018
23/12/2018
24/12/2018

In [9]:
articles_q1_19 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q1_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2019))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2019,month,"%02d" % day)
        urls = get_urls(url,2019,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q1_19.loc[len(articles_q1_19)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2019)]

25/1/2019
26/1/2019
27/1/2019
28/1/2019
29/1/2019
30/1/2019
31/1/2019
01/1/2019
02/1/2019
03/1/2019
04/1/2019
05/1/2019
06/1/2019
07/1/2019
08/1/2019
09/1/2019
10/1/2019
11/1/2019
12/1/2019
13/1/2019
14/1/2019
15/1/2019
16/1/2019
17/1/2019
18/1/2019
19/1/2019
20/1/2019
21/1/2019
22/1/2019
23/1/2019
24/1/2019
25/2/2019
26/2/2019
27/2/2019
28/2/2019
29/2/2019
30/2/2019
31/2/2019
01/2/2019
02/2/2019
03/2/2019
04/2/2019
05/2/2019
06/2/2019
07/2/2019
08/2/2019
09/2/2019
10/2/2019
11/2/2019
12/2/2019
13/2/2019
14/2/2019
15/2/2019
16/2/2019
17/2/2019
18/2/2019
19/2/2019
20/2/2019
21/2/2019
22/2/2019
23/2/2019
24/2/2019
25/3/2019
26/3/2019
27/3/2019
28/3/2019
29/3/2019
30/3/2019
31/3/2019
01/3/2019
02/3/2019
03/3/2019
04/3/2019
05/3/2019
06/3/2019
07/3/2019
08/3/2019
09/3/2019
10/3/2019
11/3/2019
12/3/2019
13/3/2019
14/3/2019
15/3/2019
16/3/2019
17/3/2019
18/3/2019
19/3/2019
20/3/2019
21/3/2019
22/3/2019
23/3/2019
24/3/2019

In [10]:
articles_q2_19 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q2_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2019))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2019,month,"%02d" % day)
        urls = get_urls(url,2019,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q2_19.loc[len(articles_q2_19)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2019)]

25/4/2019
26/4/2019
27/4/2019
28/4/2019
29/4/2019
30/4/2019
31/4/2019
01/4/2019
02/4/2019
03/4/2019
04/4/2019
05/4/2019
06/4/2019
07/4/2019
08/4/2019
09/4/2019
10/4/2019
11/4/2019
12/4/2019
13/4/2019
14/4/2019
15/4/2019
16/4/2019
17/4/2019
18/4/2019
19/4/2019
20/4/2019
21/4/2019
22/4/2019
23/4/2019
24/4/2019
25/5/2019
26/5/2019
27/5/2019
28/5/2019
29/5/2019
30/5/2019
31/5/2019
01/5/2019
02/5/2019
03/5/2019
04/5/2019
05/5/2019
06/5/2019
07/5/2019
08/5/2019
09/5/2019
10/5/2019
11/5/2019
12/5/2019
13/5/2019
14/5/2019
15/5/2019
16/5/2019
17/5/2019
18/5/2019
19/5/2019
20/5/2019
21/5/2019
22/5/2019
23/5/2019
24/5/2019
25/6/2019
26/6/2019
27/6/2019
28/6/2019
29/6/2019
30/6/2019
31/6/2019
01/6/2019
02/6/2019
03/6/2019
04/6/2019
05/6/2019
06/6/2019
07/6/2019
08/6/2019
09/6/2019
10/6/2019
11/6/2019
12/6/2019
13/6/2019
14/6/2019
15/6/2019
16/6/2019
17/6/2019
18/6/2019
19/6/2019
20/6/2019
21/6/2019
22/6/2019
23/6/2019
24/6/2019

In [11]:
articles_q3_19 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q3_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2019))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2019,month,"%02d" % day)
        urls = get_urls(url,2019,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q3_19.loc[len(articles_q3_19)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2019)]

25/7/2019
26/7/2019
27/7/2019
28/7/2019
29/7/2019
30/7/2019
31/7/2019
01/7/2019
02/7/2019
03/7/2019
04/7/2019
05/7/2019
06/7/2019
07/7/2019
08/7/2019
09/7/2019
10/7/2019
11/7/2019
12/7/2019
13/7/2019
14/7/2019
15/7/2019
16/7/2019
17/7/2019
18/7/2019
19/7/2019
20/7/2019
21/7/2019
22/7/2019
23/7/2019
24/7/2019
25/8/2019
26/8/2019
27/8/2019
28/8/2019
29/8/2019
30/8/2019
31/8/2019
01/8/2019
02/8/2019
03/8/2019
04/8/2019
05/8/2019
06/8/2019
07/8/2019
08/8/2019
09/8/2019
10/8/2019
11/8/2019
12/8/2019
13/8/2019
14/8/2019
15/8/2019
16/8/2019
17/8/2019
18/8/2019
19/8/2019
20/8/2019
21/8/2019
22/8/2019
23/8/2019
24/8/2019
25/9/2019
26/9/2019
27/9/2019
28/9/2019
29/9/2019
30/9/2019
31/9/2019
01/9/2019
02/9/2019
03/9/2019
04/9/2019
05/9/2019
06/9/2019
07/9/2019
08/9/2019
09/9/2019
10/9/2019
11/9/2019
12/9/2019
13/9/2019
14/9/2019
15/9/2019
16/9/2019
17/9/2019
18/9/2019
19/9/2019
20/9/2019
21/9/2019
22/9/2019
23/9/2019
24/9/2019

In [12]:
articles_q4_19 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q4_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2019))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2019,month,"%02d" % day)
        urls = get_urls(url,2019,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q4_19.loc[len(articles_q4_19)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2019)]

25/10/2019
26/10/2019
27/10/2019
28/10/2019
29/10/2019
30/10/2019
31/10/2019
01/10/2019
02/10/2019
03/10/2019
04/10/2019
05/10/2019
06/10/2019
07/10/2019
08/10/2019
09/10/2019
10/10/2019
11/10/2019
12/10/2019
13/10/2019
14/10/2019
15/10/2019
16/10/2019
17/10/2019
18/10/2019
19/10/2019
20/10/2019
21/10/2019
22/10/2019
23/10/2019
24/10/2019
25/11/2019
26/11/2019
27/11/2019
28/11/2019
29/11/2019
30/11/2019
31/11/2019
01/11/2019
02/11/2019
03/11/2019
04/11/2019
05/11/2019
06/11/2019
07/11/2019
08/11/2019
09/11/2019
10/11/2019
11/11/2019
12/11/2019
13/11/2019
14/11/2019
15/11/2019
16/11/2019
17/11/2019
18/11/2019
19/11/2019
20/11/2019
21/11/2019
22/11/2019
23/11/2019
24/11/2019
25/12/2019
26/12/2019
27/12/2019
28/12/2019
29/12/2019
30/12/2019
31/12/2019
01/12/2019
02/12/2019
03/12/2019
04/12/2019
05/12/2019
06/12/2019
07/12/2019
08/12/2019
09/12/2019
10/12/2019
11/12/2019
12/12/2019
13/12/2019
14/12/2019
15/12/2019
16/12/2019
17/12/2019
18/12/2019
19/12/2019
20/12/2019
21/12/2019
22/12/2019
23/12/2019
24/12/2019

In [13]:
articles_q1_20 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q1_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2020))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2020,month,"%02d" % day)
        urls = get_urls(url,2020,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q1_20.loc[len(articles_q1_20)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2020)]

25/1/2020
26/1/2020
27/1/2020
28/1/2020
29/1/2020
30/1/2020
31/1/2020
01/1/2020
02/1/2020
03/1/2020
04/1/2020
05/1/2020
06/1/2020
07/1/2020
08/1/2020
09/1/2020
10/1/2020
11/1/2020
12/1/2020
13/1/2020
14/1/2020
15/1/2020
16/1/2020
17/1/2020
18/1/2020
19/1/2020
20/1/2020
21/1/2020
22/1/2020
23/1/2020
24/1/2020
25/2/2020
26/2/2020
27/2/2020
28/2/2020
29/2/2020
30/2/2020
31/2/2020
01/2/2020
02/2/2020
03/2/2020
04/2/2020
05/2/2020
06/2/2020
07/2/2020
08/2/2020
09/2/2020
10/2/2020
11/2/2020
12/2/2020
13/2/2020
14/2/2020
15/2/2020
16/2/2020
17/2/2020
18/2/2020
19/2/2020
20/2/2020
21/2/2020
22/2/2020
23/2/2020
24/2/2020
25/3/2020
26/3/2020
27/3/2020
28/3/2020
29/3/2020
30/3/2020
31/3/2020
01/3/2020
02/3/2020
03/3/2020
04/3/2020
05/3/2020
06/3/2020
07/3/2020
08/3/2020
09/3/2020
10/3/2020
11/3/2020
12/3/2020
13/3/2020
14/3/2020
15/3/2020
16/3/2020
17/3/2020
18/3/2020
19/3/2020
20/3/2020
21/3/2020
22/3/2020
23/3/2020
24/3/2020

In [14]:
articles_q2_20 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q2_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2020))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2020,month,"%02d" % day)
        urls = get_urls(url,2020,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q2_20.loc[len(articles_q2_20)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2020)]

25/4/2020
26/4/2020
27/4/2020
28/4/2020
29/4/2020
30/4/2020
31/4/2020
01/4/2020
02/4/2020
03/4/2020
04/4/2020
05/4/2020
06/4/2020
07/4/2020
08/4/2020
09/4/2020
10/4/2020
11/4/2020
12/4/2020
13/4/2020
14/4/2020
15/4/2020
16/4/2020
17/4/2020
18/4/2020
19/4/2020
20/4/2020
21/4/2020
22/4/2020
23/4/2020
24/4/2020
25/5/2020
26/5/2020
27/5/2020
28/5/2020
29/5/2020
30/5/2020
31/5/2020
01/5/2020
02/5/2020
03/5/2020
04/5/2020
05/5/2020
06/5/2020
07/5/2020
08/5/2020
09/5/2020
10/5/2020
11/5/2020
12/5/2020
13/5/2020
14/5/2020
15/5/2020
16/5/2020
17/5/2020
18/5/2020
19/5/2020
20/5/2020
21/5/2020
22/5/2020
23/5/2020
24/5/2020
25/6/2020
26/6/2020
27/6/2020
28/6/2020
29/6/2020
30/6/2020
31/6/2020
01/6/2020
02/6/2020
03/6/2020
04/6/2020
05/6/2020
06/6/2020
07/6/2020
08/6/2020
09/6/2020
10/6/2020
11/6/2020
12/6/2020
13/6/2020
14/6/2020
15/6/2020
16/6/2020
17/6/2020
18/6/2020
19/6/2020
20/6/2020
21/6/2020
22/6/2020
23/6/2020
24/6/2020

In [15]:
articles_q3_20 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q3_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2020))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2020,month,"%02d" % day)
        urls = get_urls(url,2020,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q3_20.loc[len(articles_q3_20)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2020)]

25/7/2020
26/7/2020
27/7/2020
28/7/2020
29/7/2020
30/7/2020
31/7/2020
01/7/2020
02/7/2020
03/7/2020
04/7/2020
05/7/2020
06/7/2020
07/7/2020
08/7/2020
09/7/2020
10/7/2020
11/7/2020
12/7/2020
13/7/2020
14/7/2020
15/7/2020
16/7/2020
17/7/2020
18/7/2020
19/7/2020
20/7/2020
21/7/2020
22/7/2020
23/7/2020
24/7/2020
25/8/2020
26/8/2020
27/8/2020
28/8/2020
29/8/2020
30/8/2020
31/8/2020
01/8/2020
02/8/2020
03/8/2020
04/8/2020
05/8/2020
06/8/2020
07/8/2020
08/8/2020
09/8/2020
10/8/2020
11/8/2020
12/8/2020
13/8/2020
14/8/2020
15/8/2020
16/8/2020
17/8/2020
18/8/2020
19/8/2020
20/8/2020
21/8/2020
22/8/2020
23/8/2020
24/8/2020
25/9/2020
26/9/2020
27/9/2020
28/9/2020
29/9/2020
30/9/2020
31/9/2020
01/9/2020
02/9/2020
03/9/2020
04/9/2020
05/9/2020
06/9/2020
07/9/2020
08/9/2020
09/9/2020
10/9/2020
11/9/2020
12/9/2020
13/9/2020
14/9/2020
15/9/2020
16/9/2020
17/9/2020
18/9/2020
19/9/2020
20/9/2020
21/9/2020
22/9/2020
23/9/2020
24/9/2020

In [16]:
articles_q4_20 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q4_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2020))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2020,month,"%02d" % day)
        urls = get_urls(url,2020,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q4_20.loc[len(articles_q4_20)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2020)]

25/10/2020
26/10/2020
27/10/2020
28/10/2020
29/10/2020
30/10/2020
31/10/2020
01/10/2020
02/10/2020
03/10/2020
04/10/2020
05/10/2020
06/10/2020
07/10/2020
08/10/2020
09/10/2020
10/10/2020
11/10/2020
12/10/2020
13/10/2020
14/10/2020
15/10/2020
16/10/2020
17/10/2020
18/10/2020
19/10/2020
20/10/2020
21/10/2020
22/10/2020
23/10/2020
24/10/2020
25/11/2020
26/11/2020
27/11/2020
28/11/2020
29/11/2020
30/11/2020
31/11/2020
01/11/2020
02/11/2020
03/11/2020
04/11/2020
05/11/2020
06/11/2020
07/11/2020
08/11/2020
09/11/2020
10/11/2020
11/11/2020
12/11/2020
13/11/2020
14/11/2020
15/11/2020
16/11/2020
17/11/2020
18/11/2020
19/11/2020
20/11/2020
21/11/2020
22/11/2020
23/11/2020
24/11/2020
25/12/2020
26/12/2020
27/12/2020
28/12/2020
29/12/2020
30/12/2020
31/12/2020
01/12/2020
02/12/2020
03/12/2020
04/12/2020
05/12/2020
06/12/2020
07/12/2020
08/12/2020
09/12/2020
10/12/2020
11/12/2020
12/12/2020
13/12/2020
14/12/2020
15/12/2020
16/12/2020
17/12/2020
18/12/2020
19/12/2020
20/12/2020
21/12/2020
22/12/2020
23/12/2020
24/12/2020

In [17]:
articles_q1_21 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q1_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2021))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2021,month,"%02d" % day)
        urls = get_urls(url,2021,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q1_21.loc[len(articles_q1_21)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2021)]

25/1/2021
26/1/2021
27/1/2021
28/1/2021
29/1/2021
30/1/2021
31/1/2021
01/1/2021
02/1/2021
03/1/2021
04/1/2021
05/1/2021
06/1/2021
07/1/2021
08/1/2021
09/1/2021
10/1/2021
11/1/2021
12/1/2021
13/1/2021
14/1/2021
15/1/2021
16/1/2021
17/1/2021
18/1/2021
19/1/2021
20/1/2021
21/1/2021
22/1/2021
23/1/2021
24/1/2021
25/2/2021
26/2/2021
27/2/2021
28/2/2021
29/2/2021
30/2/2021
31/2/2021
01/2/2021
02/2/2021
03/2/2021
04/2/2021
05/2/2021
06/2/2021
07/2/2021
08/2/2021
09/2/2021
10/2/2021
11/2/2021
12/2/2021
13/2/2021
14/2/2021
15/2/2021
16/2/2021
17/2/2021
18/2/2021
19/2/2021
20/2/2021
21/2/2021
22/2/2021
23/2/2021
24/2/2021
25/3/2021
26/3/2021
27/3/2021
28/3/2021
29/3/2021
30/3/2021
31/3/2021
01/3/2021
02/3/2021
03/3/2021
04/3/2021
05/3/2021
06/3/2021
07/3/2021
08/3/2021
09/3/2021
10/3/2021
11/3/2021
12/3/2021
13/3/2021
14/3/2021
15/3/2021
16/3/2021
17/3/2021
18/3/2021
19/3/2021
20/3/2021
21/3/2021
22/3/2021
23/3/2021
24/3/2021

In [18]:
articles_q2_21 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q2_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2021))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2021,month,"%02d" % day)
        urls = get_urls(url,2021,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q2_21.loc[len(articles_q2_21)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2021)]

25/4/2021
26/4/2021
27/4/2021
28/4/2021
29/4/2021
30/4/2021
31/4/2021
01/4/2021
02/4/2021
03/4/2021
04/4/2021
05/4/2021
06/4/2021
07/4/2021
08/4/2021
09/4/2021
10/4/2021
11/4/2021
12/4/2021
13/4/2021
14/4/2021
15/4/2021
16/4/2021
17/4/2021
18/4/2021
19/4/2021
20/4/2021
21/4/2021
22/4/2021
23/4/2021
24/4/2021
25/5/2021
26/5/2021
27/5/2021
28/5/2021
29/5/2021
30/5/2021
31/5/2021
01/5/2021
02/5/2021
03/5/2021
04/5/2021
05/5/2021
06/5/2021
07/5/2021
08/5/2021
09/5/2021
10/5/2021
11/5/2021
12/5/2021
13/5/2021
14/5/2021
15/5/2021
16/5/2021
17/5/2021
18/5/2021
19/5/2021
20/5/2021
21/5/2021
22/5/2021
23/5/2021
24/5/2021
25/6/2021
26/6/2021
27/6/2021
28/6/2021
29/6/2021
30/6/2021
31/6/2021
01/6/2021
02/6/2021
03/6/2021
04/6/2021
05/6/2021
06/6/2021
07/6/2021
08/6/2021
09/6/2021
10/6/2021
11/6/2021
12/6/2021
13/6/2021
14/6/2021
15/6/2021
16/6/2021
17/6/2021
18/6/2021
19/6/2021
20/6/2021
21/6/2021
22/6/2021
23/6/2021
24/6/2021

In [19]:
articles_q3_21 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q3_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2021))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2021,month,"%02d" % day)
        urls = get_urls(url,2021,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q3_21.loc[len(articles_q3_21)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2021)]

25/7/2021
26/7/2021
27/7/2021
28/7/2021
29/7/2021
30/7/2021
31/7/2021
01/7/2021
02/7/2021
03/7/2021
04/7/2021
05/7/2021
06/7/2021
07/7/2021
08/7/2021
09/7/2021
10/7/2021
11/7/2021
12/7/2021
13/7/2021
14/7/2021
15/7/2021
16/7/2021
17/7/2021
18/7/2021
19/7/2021
20/7/2021
21/7/2021
22/7/2021
23/7/2021
24/7/2021
25/8/2021
26/8/2021
27/8/2021
28/8/2021
29/8/2021
30/8/2021
31/8/2021
01/8/2021
02/8/2021
03/8/2021
04/8/2021
05/8/2021
06/8/2021
07/8/2021
08/8/2021
09/8/2021
10/8/2021
11/8/2021
12/8/2021
13/8/2021
14/8/2021
15/8/2021
16/8/2021
17/8/2021
18/8/2021
19/8/2021
20/8/2021
21/8/2021
22/8/2021
23/8/2021
24/8/2021
25/9/2021
26/9/2021
27/9/2021
28/9/2021
29/9/2021
30/9/2021
31/9/2021
01/9/2021
02/9/2021
03/9/2021
04/9/2021
05/9/2021
06/9/2021
07/9/2021
08/9/2021
09/9/2021
10/9/2021
11/9/2021
12/9/2021
13/9/2021
14/9/2021
15/9/2021
16/9/2021
17/9/2021
18/9/2021
19/9/2021
20/9/2021
21/9/2021
22/9/2021
23/9/2021
24/9/2021

In [20]:
articles_q4_21 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q4_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2021))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2021,month,"%02d" % day)
        urls = get_urls(url,2021,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q4_21.loc[len(articles_q4_21)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2021)]

25/10/2021
26/10/2021
27/10/2021
28/10/2021
29/10/2021
30/10/2021
31/10/2021
01/10/2021
02/10/2021
03/10/2021
04/10/2021
05/10/2021
06/10/2021
07/10/2021
08/10/2021
09/10/2021
10/10/2021
11/10/2021
12/10/2021
13/10/2021
14/10/2021
15/10/2021
16/10/2021
17/10/2021
18/10/2021
19/10/2021
20/10/2021
21/10/2021
22/10/2021
23/10/2021
24/10/2021
25/11/2021
26/11/2021
27/11/2021
28/11/2021
29/11/2021
30/11/2021
31/11/2021
01/11/2021
02/11/2021
03/11/2021
04/11/2021
05/11/2021
06/11/2021
07/11/2021
08/11/2021
09/11/2021
10/11/2021
11/11/2021
12/11/2021
13/11/2021
14/11/2021
15/11/2021
16/11/2021
17/11/2021
18/11/2021
19/11/2021
20/11/2021
21/11/2021
22/11/2021
23/11/2021
24/11/2021
25/12/2021
26/12/2021
27/12/2021
28/12/2021
29/12/2021
30/12/2021
31/12/2021
01/12/2021
02/12/2021
03/12/2021
04/12/2021
05/12/2021
06/12/2021
07/12/2021
08/12/2021
09/12/2021
10/12/2021
11/12/2021
12/12/2021
13/12/2021
14/12/2021
15/12/2021
16/12/2021
17/12/2021
18/12/2021
19/12/2021
20/12/2021
21/12/2021
22/12/2021
23/12/2021
24/12/2021

In [21]:
articles_q1_22 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q1_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2022))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2022,month,"%02d" % day)
        urls = get_urls(url,2022,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q1_22.loc[len(articles_q1_22)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2022)]

25/1/2022
26/1/2022
27/1/2022
28/1/2022
29/1/2022
30/1/2022
31/1/2022
01/1/2022
02/1/2022
03/1/2022
04/1/2022
05/1/2022
06/1/2022
07/1/2022
08/1/2022
09/1/2022
10/1/2022
11/1/2022
12/1/2022
13/1/2022
14/1/2022
15/1/2022
16/1/2022
17/1/2022
18/1/2022
19/1/2022
20/1/2022
21/1/2022
22/1/2022
23/1/2022
24/1/2022
25/2/2022
26/2/2022
27/2/2022
28/2/2022
29/2/2022
30/2/2022
31/2/2022
01/2/2022
02/2/2022
03/2/2022
04/2/2022
05/2/2022
06/2/2022
07/2/2022
08/2/2022
09/2/2022
10/2/2022
11/2/2022
12/2/2022
13/2/2022
14/2/2022
15/2/2022
16/2/2022
17/2/2022
18/2/2022
19/2/2022
20/2/2022
21/2/2022
22/2/2022
23/2/2022
24/2/2022
25/3/2022
26/3/2022
27/3/2022
28/3/2022
29/3/2022
30/3/2022
31/3/2022
01/3/2022
02/3/2022
03/3/2022
04/3/2022
05/3/2022
06/3/2022
07/3/2022
08/3/2022
09/3/2022
10/3/2022
11/3/2022
12/3/2022
13/3/2022
14/3/2022
15/3/2022
16/3/2022
17/3/2022
18/3/2022
19/3/2022
20/3/2022
21/3/2022
22/3/2022
23/3/2022
24/3/2022

In [22]:
articles_q2_22 = pd.DataFrame(columns = ['article_text','article_date'])
for month in q2_months:
    for day in days:
        print("{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2022))
        url = 'https://www.theguardian.com/uk-news/{}/{}/{}/all'.format(2022,month,"%02d" % day)
        urls = get_urls(url,2022,month,day)
        if len(urls) > 0:
            for i in range(len(urls)):
                article = urls.iloc[i,0]
                text = get_article_text(article)
                articles_q2_22.loc[len(articles_q2_22)] = [text, "{}/{}/{}".format("%02d" % day,list(calendar.month_abbr).index(month.capitalize()),2022)]

25/4/2022
26/4/2022
27/4/2022
28/4/2022
29/4/2022
30/4/2022
31/4/2022
01/4/2022
02/4/2022
03/4/2022
04/4/2022
05/4/2022
06/4/2022
07/4/2022
08/4/2022
09/4/2022
10/4/2022
11/4/2022
12/4/2022
13/4/2022
14/4/2022
15/4/2022
16/4/2022
17/4/2022
18/4/2022
19/4/2022
20/4/2022
21/4/2022
22/4/2022
23/4/2022
24/4/2022
25/5/2022
26/5/2022
27/5/2022
28/5/2022
29/5/2022
30/5/2022
31/5/2022
01/5/2022
02/5/2022
03/5/2022
04/5/2022
05/5/2022
06/5/2022
07/5/2022
08/5/2022
09/5/2022
10/5/2022
11/5/2022
12/5/2022
13/5/2022
14/5/2022
15/5/2022
16/5/2022
17/5/2022
18/5/2022
19/5/2022
20/5/2022
21/5/2022
22/5/2022
23/5/2022
24/5/2022
25/6/2022
26/6/2022
27/6/2022
28/6/2022
29/6/2022
30/6/2022
31/6/2022
01/6/2022
02/6/2022
03/6/2022
04/6/2022
05/6/2022
06/6/2022
07/6/2022
08/6/2022
09/6/2022
10/6/2022
11/6/2022
12/6/2022
13/6/2022
14/6/2022
15/6/2022
16/6/2022
17/6/2022
18/6/2022
19/6/2022
20/6/2022
21/6/2022
22/6/2022
23/6/2022
24/6/2022

In [23]:
articles = pd.DataFrame(columns = ['article_text','article_date'])

In [24]:
articles = articles.append(articles_q4_18)
articles = articles.append(articles_q1_19)
articles = articles.append(articles_q2_19)
articles = articles.append(articles_q3_19)
articles = articles.append(articles_q4_19)
articles = articles.append(articles_q1_20)
articles = articles.append(articles_q2_20)
articles = articles.append(articles_q3_20)
articles = articles.append(articles_q4_20)
articles = articles.append(articles_q1_21)
articles = articles.append(articles_q2_21)
articles = articles.append(articles_q3_21)
articles = articles.append(articles_q4_21)
articles = articles.append(articles_q1_22)
articles = articles.append(articles_q2_22)

In [33]:
articles

                                          article_text article_date
0    A leading Brexiter has claimed to have seen an...   25/10/2018
1    L/Cpl Kat Dixon did not hesitate when asked wh...   25/10/2018
2    He was a master at bluffing his way through po...   25/10/2018
3    The home secretary has apologised to immigrant...   25/10/2018
4    A Chinese journalist has been charged with com...   25/10/2018
..                                                 ...          ...
723  A baronial castle that has been at the centre ...    24/6/2022
724  A 41-year-old man has been sentenced to life w...    24/6/2022
725  Animal health officials are investigating a su...    24/6/2022
726  As commuters struggled with strike-crippled ra...    24/6/2022
727  Hurrah! After an enforced three-year hiatus (t...    24/6/2022

[9500 rows x 2 columns]

In [26]:
len(articles.article_date.unique())

1368

In [27]:
articles.to_csv('../Data/articles.csv')

In [28]:
articles_q4_18.to_csv('../Data/Quarterly_articles/articles_q4_18.csv')

articles_q1_19.to_csv('../Data/Quarterly_articles/articles_q1_19.csv')
articles_q2_19.to_csv('../Data/Quarterly_articles/articles_q2_19.csv')
articles_q3_19.to_csv('../Data/Quarterly_articles/articles_q3_19.csv')
articles_q4_19.to_csv('../Data/Quarterly_articles/articles_q4_19.csv')

articles_q1_20.to_csv('../Data/Quarterly_articles/articles_q1_20.csv')
articles_q2_20.to_csv('../Data/Quarterly_articles/articles_q2_20.csv')
articles_q3_20.to_csv('../Data/Quarterly_articles/articles_q3_20.csv')
articles_q4_20.to_csv('../Data/Quarterly_articles/articles_q4_20.csv')

articles_q1_21.to_csv('../Data/Quarterly_articles/articles_q1_21.csv')
articles_q2_21.to_csv('../Data/Quarterly_articles/articles_q2_21.csv')
articles_q3_21.to_csv('../Data/Quarterly_articles/articles_q3_21.csv')
articles_q4_21.to_csv('../Data/Quarterly_articles/articles_q4_21.csv')

articles_q1_22.to_csv('../Data/Quarterly_articles/articles_q1_22.csv')
articles_q2_22.to_csv('../Data/Quarterly_articles/articles_q2_22.csv')

In [15]:
articles_q4_18 = pd.read_csv('../Data/Quarterly_articles/articles_q4_18.csv')

articles_q1_19 = pd.read_csv('../Data/Quarterly_articles/articles_q1_19.csv')
articles_q2_19 = pd.read_csv('../Data/Quarterly_articles/articles_q2_19.csv')
articles_q3_19 = pd.read_csv('../Data/Quarterly_articles/articles_q3_19.csv')
articles_q4_19 = pd.read_csv('../Data/Quarterly_articles/articles_q4_19.csv')

articles_q1_20 = pd.read_csv('../Data/Quarterly_articles/articles_q1_20.csv')
articles_q2_20 = pd.read_csv('../Data/Quarterly_articles/articles_q2_20.csv')
articles_q3_20 = pd.read_csv('../Data/Quarterly_articles/articles_q3_20.csv')
articles_q4_20 = pd.read_csv('../Data/Quarterly_articles/articles_q4_20.csv')

In [17]:
articles_q4_18 = articles_q4_18.drop(columns = ["Unnamed: 0"])

articles_q1_19 = articles_q1_19.drop(columns = ["Unnamed: 0"])
articles_q2_19 = articles_q2_19.drop(columns = ["Unnamed: 0"])
articles_q3_19 = articles_q3_19.drop(columns = ["Unnamed: 0"])
articles_q4_19 = articles_q4_19.drop(columns = ["Unnamed: 0"])

articles_q1_20 = articles_q1_20.drop(columns = ["Unnamed: 0"])
articles_q2_20 = articles_q2_20.drop(columns = ["Unnamed: 0"])
articles_q3_20 = articles_q3_20.drop(columns = ["Unnamed: 0"])
articles_q4_20 = articles_q4_20.drop(columns = ["Unnamed: 0"])

In [ ]:
articles_q4_20